body{   
    margin: 0;
    padding: 0;
    font-family: arial;
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate{
    0%,100%{
        background-image: url("images/activities/bg_1.jpg");
    }
    25%{
        background-image: url("images/activities/bg_2.jpg");
    }
    50%{
        background-image: url("images/activities/bg_3.jpg");
    }
    75%{
        background-image: url("images/activities/bg_4.jpg");
    }
}
.wrapper{
    position: absolute;
    top: 7%;
    left: 15%;          
}
.wrapper h3{
    padding: 0;
    margin: 0;
    color: #fff;
}
.logo_box{
    position: absolute;
    top:0%;
    left: 88%;
    height: 150px;
    width: 150px;
    background: rgba(0, 0, 0, 0);
}
.t_dropdown{
    position: relative;
    display: inline-block;
}
.t_dropdown-content{
    display: none;
    position: absolute;
    right: 100%;
    background-color: #34AFAB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.t_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.t_dropdown-content a:hover {background-color: #6EF7F3;}

.t_dropdown:hover .t_dropdown-content {
    display: block;
}
.opacity_box1{
    position: absolute;
    background: rgba(0,0,0,0.5);
    top:0%;
    left: 0%;
    width:200px;
    height: 678px;
}
.opacity_box_heading{
    position: absolute;
    background: rgba(0,0,0,0.0);
    top:10%;
    left: 30%;
    width:500px;
    height: 500px;
}
.text_h{
    color: white;
}
.text_h:hover{
    color: darkgray;
}
.background_box{
     position: absolute;
     top:100%;
     height: 5500px;
     width: 1520px;
     background-color: #34AFAB;
}
.background_opacity_box{
     position: absolute;
     height: 5500px;
     width: 200px;
     background: rgba(0,0,0,0.2);
}
.background_white_box{
     position: absolute;
     top:3%;
     left:10%;
     height: 4900px;
     width: 1210px;
     background-color: white;
}
.left_box{
     position: absolute;
     left:5%;
     height: 500px;
     width: 545px;
     background-color: #88F7F4;
}
.left_box_2{
     position: absolute;
     left:5%;
     height: 500px;
     width: 500px;
     background-color: #B5EFED;
}
.right_box{
     position: absolute;
     left:55%;
     height: 500px;
     width: 500px;
     background-color: #B5EFED;
}
.right_box_2{
     position: absolute;
     left:50%;
     height: 500px;
     width: 545px;
     background-color: blue;
}
.lower_blue_box2{
    position: absolute;
    top:94.5%;
    left:13%;
    height: 300px;
    width: 1320px;
    background-color: rgba(0,0,0,0.6);
}
.opacity_box2{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top:94.5%;
    left: 0%;
    width:200px;
    height: 300px;
}